@font-face {
    font-family: "RalewayMedium";
    src: url("../fonts/RalewayMedium/RalewayMedium.eot");
    src: url("../fonts/RalewayMedium/RalewayMedium.eot?#iefix")format("embedded-opentype"),
         url("../fonts/RalewayMedium/RalewayMedium.woff") format("woff"),
         url("../fonts/RalewayMedium/RalewayMedium.ttf") format("truetype");
    font-style: normal;
    font-weight: normal;
}
@font-face {
	font-family: "Awesome";
	src: url('../fonts/Awesome/fontawesome-webfront.eot');
	src: url('../fonts/Awesome/fontawesome-webfront.eot?#iefix') format('embedded-opentype'),
		 url('../fonts/Awesome/fontawesome-webfront.woff') format('woff'),
		 url('../fonts/Awesome/fontawesome-webfront.ttf') format('truetype'),
		 url('../fonts/Awesome/fontawesome-webfront.svg#FontName') format('svg');
	font-style: normal;
	font-weight: normal;
}
